.example-spacer {
    flex: 1 1 auto;
  }

span{
    padding: 10px;
}

  img{
    height: 50px;
    width: 50px;  
  }

  a{
    text-decoration: none;
    color: white;
  }

.mat-toolbar{
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}